export(Rd2rst)
export(Rd2myst)
importFrom(stringi,stri_dup)
importFrom(stringi,stri_flatten)
importFrom(stringi,stri_match_first_regex)
importFrom(stringi,stri_detect_regex)
importFrom(stringi,stri_detect_fixed)
importFrom(stringi,stri_replace_all_regex)
importFrom(stringi,stri_replace_first_regex)
importFrom(stringi,stri_length)
